@mixin onTablet {
  @media (max-width: $tablet-max-width) {
    @content;
  }
}

@mixin onPhone {
  @media (max-width: $phone-max-width) {
    @content;
  }
}

@mixin circle {
	&:before {
		content: "";
		position: absolute;
		height: 16px;
		width: 16px;
		top: 6px;
		left: 0;
		background: $yellow-color;
		border-radius: 100px;
	}
}