.book-info {
	display: flex;
	justify-content: space-between;

	@include onTablet {
		gap: 20px;
	}

	&__block {
		position: relative;
		padding-left: 25px;
		@include circle;

		@include onTablet {
			padding-left: 10px;

			&::before {
				height: 6px;
				width: 6px;
			}
		}
	}

	&__title {
		font-family: 'Cardo';
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 29px;
		letter-spacing: 0.48px;

		@include onTablet {
			font-size: 18px;
			line-height: 20px;
		}
	}

	&__value {
		font-size: 17px;
		line-height: 27px;
		color: $light-color;
		padding-top: 12px;

		@include onTablet {
			font-size: 14px;
			line-height: 20px;
		}
	}
}