.reviews {
	padding-block: 120px 130px;

	@include onTablet {
		padding-block: 60px;
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 50px;

		@include onTablet {
			flex-direction: column;
		}
	}

	&__text {
		max-width: 435px;

		@include onTablet {
			max-width: 100%;
		}
	}

	&__description {
		margin-top: 60px;
		font-size: 19px;
		line-height: 34px;
		color: #969AA0;
	}

	&__wrapper {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	&__ratings {
		margin-top: 23px;
	}

	&__ratings-number {
		font-family: 'Cardo';
		font-style: normal;
		font-weight: 400;
		font-size: 22px;
		line-height: 26px;
		color: $dark-blue-color;
	}

	&__ratings-text {
		margin-top: 12px;
		font-size: 18px;
		line-height: 28px;
		color: $dark-blue-color;
	}

	&__people {
		display: grid;
		grid-template: repeat(2, auto) / repeat(2, auto);
		gap: 20px;

		@include onPhone {
			grid-template: repeat(3, auto) / 1fr;
		}
	}
}