.trusted {
	padding-block: 110px 130px;

	@include onTablet {
		padding-block: 60px;
	}

	&__companies {
		margin-top: 76px;
		display: grid;
		grid-template: auto / repeat(4, 1fr);
		gap: 10px;

		@include onTablet {
			grid-template: repeat(2, auto) / repeat(2, 1fr);
			gap: 20px;
		}

		@include onPhone {
			grid-template: repeat(4, auto) / 1fr;
			gap: 30px;
		}
	}

	&__company {
		max-width: 313px;
		text-align: center;
		justify-self: center;
	}
	
	&__company-img {
		display: block;
		height: 100px;
		margin: 0 auto;
	}

	&__company-name {
		font-family: 'Cardo';
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 29px;
		color: $dark-blue-color;
		margin-top: 20px;
	}

	&__company-description {
		font-size: 19px;
		line-height: 28px;
		color: #969AA0;
		margin-top: 20px;
	}
}