.what-will-you-learn {
	padding-block: 120px 140px;

	@include onTablet {
		padding-block: 60px;
	}

	&__wrapper {
		display: flex;
		gap: 40px;
		justify-content: space-between;
		align-items: center;
		margin-top: 116px;

		@include onTablet {
			flex-direction: column;
		}

		@include onPhone {
			margin-top: 66px;
		}
	}

	&__list {
		display: grid;
		grid-template: repeat(2, auto) / repeat(2, auto);
		gap: 30px;
		max-width: 636px;

		@include onPhone {
			grid-template: repeat(4, auto) / 1fr;
		}
	}

	&__item {
		background-color: #F4F8FF;
		padding: 30px;
		font-family: 'Cardo';
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 34px;
		color: $dark-blue-color;
	}

	&__number {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
		background-color: $yellow-color;
		border-radius: 100%;
		font-family: 'Cardo';
		font-style: normal;
		font-weight: 400;
		font-size: 23px;
		line-height: 29px;
		margin-bottom: 30px;
	}

	&__img-wrapper {
		position: relative;

		&:before {
			position: absolute;
			display: block;
			padding-top: calc(100% * 630 / 535);
			content: "";
			width: 100%;
			max-width: 535px;
			min-width: 200px;
			max-height: 630px;
			top: 0;
			left: 0;
			background: transparent;
			border: 10px solid $yellow-color;

			@include onTablet {
				max-width: 335px;
			}

			@include onPhone {
				padding-top: calc(93% * 630 / 535);
				width: 93%;
			}
		}
	}

	&__img {
		width: 100%;
		max-width: 535px;
		min-width: 200px;
		position: relative;
		top: -30px;
		left: -30px;

		@include onTablet {
			max-width: 335px;
		}

		@include onPhone {
			top: -10px;
			left: -10px;
			width: 93%;
		}
	}
}